@media screen and (min-width:641px){

.register_form{
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  p{
    text-align: center;
    margin: 0 auto;
    position: relative;
    img{
      width: auto;
      height: 200px;
      position: relative;
    }
  }
  .form_cont{
    width: 300px;
    display: block;
    margin: 10px auto;
    .form_radio{
      input{
        width: auto;
      }
    }
    input{
    width: 100%;
    }
    .submit{

      .submit_button{
        display: block;
        margin: 30px auto 0;
        font-size: 20px;
        background: #3097D1;
        color: #fff;
        border: none;
        border-radius: 5px;
        &:hover{
          color: #3097D1;
          background: #fff;
        }
      }

    }
  }
}
}
@media screen and (max-width:640px){
  .register_form{
    width: 98%;
    margin: 0 auto;
    padding: 20px 1%;
    h2{text-align: center;}
    label{
          color: #3097D1;
          padding: 10px 0 5px 0;
          width: 100%;
          margin: 0 auto;
          display: block;
          text-align: left;
    }
    .form_radio{
      text-align: center;
      font-size: 18px;
      input{width: auto;}
    }
    .form_cont{
      width: 100%;
      display: block;
      margin: 10px auto;
      input{
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        line-height: 2em;
      }
      p img{
        height: 200px;
        margin: 0 auto;
        display: block;
      }
      .submit{
        .submit_button{
          display: block;
          margin: 0 auto;
          font-size: 20px;
          padding: 10px;
          background: #3097D1;
          color: #fff;
          border: none;
          border-radius: 5px;
          a{
            font-size: 20px;
            background: #3097D1;
            color: #fff;
            border: none;
            border-radius: 5px;
          }
        }

      }
    }
  }
}
